.tile {
    height: 30vh;
    background-color: $colour-black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    perspective: 1000px;
}

  .svg-image {
      width: 75%;
      height: 75%;
      padding: 12px;
      background-color: transparent;
  }