@use "./variables" as *;

.reset__button {
  @include button;
}

.board__tile {
  background-color: $colour-black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.063rem;
  transition: 0.75s;

  &.open {
    transform: rotateY(180deg);
    background-color: $colour-tiles;
    pointer-events: none;
  }

  &.matched {
    background-color: $colour-matched;
    pointer-events: none;
  }
  .board__image {
    width: 75%;
    height: 75%;
    padding: 0.75rem;
    background-color: transparent;
  }
}

.notification {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  background-color: transparent;

  &__popup {
    margin: 4.375rem auto;
    padding: 1.25rem;
    background: $colour-white;
    border-radius: 0.313rem;
    width: 75%;
    height: 35%;
    position: relative;
    color: $colour-red;
  }

  &__close-icon-container {
    text-align: right;
  }

  &__close-icon {
    text-decoration: none;
    &:hover {
      color: $colour-tiles;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }

  &__heading {
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
  }

  &__button {
    position: absolute;
    bottom: 0.625rem;
    @include button;
  }
}
