@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

$font-main: "Mate SC", serif;
$colour-red: #fe5834;
$colour-white: #ffffff;
$colour-tiles: #127ca0;
$colour-black: #000000;
$colour-matched: #daf7a6;
