@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
.tile {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.75s;
}
.tile.open {
  transform: rotateY(180deg);
  background-color: #127ca0;
  pointer-events: none;
}
.tile.matched {
  background-color: #daf7a6;
  pointer-events: none;
}

.svg-image {
  width: 75%;
  height: 75%;
  padding: 12px;
  background-color: transparent;
}

button {
  border: 1px solid #fe5834;
  text-align: center;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
  background-color: #ffffff;
  color: #fe5834;
  margin-bottom: 10px;
}
button:hover {
  background-color: #127ca0;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 75%;
  height: 35%;
  position: relative;
  color: #fe5834;
}

.outer-container .header {
  width: 100vw;
  height: 20vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fe5834;
  color: #ffffff;
}
.outer-container .header__heading {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .outer-container .header__heading {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .outer-container .header__heading {
    font-size: 2.5rem;
  }
}
.outer-container .header__subheading {
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .outer-container .header__subheading {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 991px) {
  .outer-container .header__subheading {
    font-size: 2.2rem;
  }
}
.outer-container .main {
  padding: 20px;
  background-color: #ffffff;
}
.outer-container .refresh {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
.outer-container .game {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .outer-container .game {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
@media screen and (min-width: 991px) {
  .outer-container .game {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
.outer-container .notification {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  background-color: transparent;
}
.outer-container .close {
  text-align: right;
}
.outer-container .close a {
  text-decoration: none;
}
.outer-container .close a:hover {
  color: #127ca0;
}
.outer-container .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.outer-container .info h1 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.outer-container .play-again {
  position: absolute;
  bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mate SC", serif;
}/*# sourceMappingURL=main.css.map */