@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
.reset__button {
  border: 0.063rem solid #fe5834;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.75rem;
  display: inline-block;
  background-color: #ffffff;
  color: #fe5834;
  margin-bottom: 0.625rem;
  font-size: 0.8rem;
}
.reset__button:hover {
  background-color: #127ca0;
  color: #ffffff;
  border: 0.063rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .reset__button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .reset__button {
    font-size: 1.5rem;
  }
}

.board__tile {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.063rem;
  transition: 0.75s;
}
.board__tile.open {
  transform: rotateY(180deg);
  background-color: #127ca0;
  pointer-events: none;
}
.board__tile.matched {
  background-color: #daf7a6;
  pointer-events: none;
}
.board__tile .board__image {
  width: 75%;
  height: 75%;
  padding: 0.75rem;
  background-color: transparent;
}

.notification {
  position: fixed;
  top: 7%;
  min-width: 15rem;
  max-width: 35rem;
  bottom: 0;
  left: 25%;
  right: 0;
  visibility: hidden;
  background-color: transparent;
}
.notification__popup {
  margin: 4.375rem auto;
  padding: 1.25rem;
  background: #ffffff;
  border-radius: 0.313rem;
  width: 75%;
  height: 35%;
  position: relative;
  color: #fe5834;
}
.notification__close-icon-container {
  text-align: right;
}
.notification__close-icon {
  text-decoration: none;
  color: #fe5834;
}
.notification__close-icon:hover {
  color: #127ca0;
}
.notification__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.notification__heading {
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .notification__heading {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .notification__heading {
    font-size: 2rem;
  }
}
.notification__message {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .notification__message {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .notification__message {
    font-size: 1.8rem;
  }
}
.notification__button {
  position: absolute;
  bottom: 0.625rem;
  border: 0.063rem solid #fe5834;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.75rem;
  display: inline-block;
  background-color: #ffffff;
  color: #fe5834;
  margin-bottom: 0.625rem;
  font-size: 0.8rem;
}
.notification__button:hover {
  background-color: #127ca0;
  color: #ffffff;
  border: 0.063rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .notification__button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .notification__button {
    font-size: 1.5rem;
  }
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-container .header {
  width: 100vw;
  height: 15vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fe5834;
  color: #ffffff;
}
.outer-container .header__heading {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .outer-container .header__heading {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .outer-container .header__heading {
    font-size: 2.2rem;
  }
}
.outer-container .header__subheading {
  text-align: center;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .outer-container .header__subheading {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .outer-container .header__subheading {
    font-size: 2rem;
  }
}
.outer-container .main {
  min-width: 98vw;
  padding: 1.25rem;
  background-color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .outer-container .main {
    min-width: 60rem;
    max-width: 100rem;
  }
}
.outer-container .main .reset {
  padding-bottom: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
.outer-container .main .board {
  height: 75vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .outer-container .main .board {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .outer-container .main .board {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mate SC", serif;
}/*# sourceMappingURL=main.css.map */